In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#import the data sets
gsdb=pd.read_csv("C:\\Users\\carol\\Desktop\\School\\Ryerson\\Final Project CIND 820\\datasets\\GSDB_V2.csv")
hum_rights=pd.read_csv("C:\\Users\\carol\\Desktop\\School\\Ryerson\\Final Project CIND 820\\datasets\\human rights violations.csv")
corruption=pd.read_csv("C:\\Users\\carol\\Desktop\\School\\Ryerson\\Final Project CIND 820\\datasets\\corruption.csv")
QOLI=pd.read_csv("C:\\Users\\carol\\Desktop\\School\\Ryerson\\Final Project CIND 820\\datasets\\physical-quality-of-life-index-scale-0-100-1980â€“2010.csv")

In [3]:
def colored(r, g, b, text):
    return "\033[38;2;{};{};{}m{} \033[38;2;255;255;255m".format(r, g, b, text)
print(colored(255, 0, 0, "AN OVERVIEW OF THE GSDB DATASET"))

AN OVERVIEW OF THE GSDB DATASET

In [4]:
#First look at the GSDB data - first we print the first five rows and column names to understand what is being presented.
print(gsdb.head(5))

   case_id sanctioned_state  \
0        1      Afghanistan
1        2      Afghanistan
2        3      Afghanistan
3        4      Afghanistan
4        5      Afghanistan

                                   sanctioning_state  begin   end  trade  \
0  EU, Cyprus, Czech Republic, Estonia, Hungary, ...   2002  2019      0
1  EU, Cyprus, Malta, Turkey, Croatia, Macedonia,...   1996  2001      0
2  EU, Cyprus, Malta, Turkey, Croatia, Macedonia,...   2001  2002      1
3  EU, Turkey, Croatia, Macedonia, Montenegro, Ic...   1999  2001      0
4  EU, Turkey, Croatia, Macedonia, Montenegro, Ic...   2011  2019      0

  descr_trade  arms  military  financial  travel  other  \
0         NaN     1         1          1       1      1
1         NaN     1         1          0       0      0
2    exp_part     1         1          1       1      1
3         NaN     0         0          1       0      1
4         NaN     1         1          1       1      0

                 objective                        success
0        terrorism,end_war                ongoing,ongoing
1        terrorism,end_war                  failed,failed
2  terrorism,end_war,other  failed,nego_settlement,failed
3        terrorism,end_war                  failed,failed
4                terrorism                        ongoing

In [5]:
#perform description of the GSDB
gsdb.describe()

,case_id,begin,end,trade,arms,military,financial,travel,other
count,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000
mean,551.000000,1993.470481,1999.773842,0.369664,0.220708,0.200727,0.498638,0.211626,0.168937
std,317.975628,17.824709,17.257322,0.482933,0.414913,0.400726,0.500225,0.408647,0.374867
min,1.000000,1949.000000,1951.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,276.000000,1982.000000,1990.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,551.000000,1996.000000,2001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,826.000000,2009.000000,2016.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000
max,1101.000000,2019.000000,2019.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
#There are certain important variables which are missing, which will need to be accounted for. For example, it is important 
#to know the success status of the sanctions. Also, in order to analyze the objectives, they ought to also be easily readable
#The success will be changed into numeric descriptors and ongoing sanctions will be removed as they will not be helpful.

In [7]:
#First we check what unique values exist in the success column.
print(gsdb["success"].unique())

['ongoing,ongoing' 'failed,failed' 'failed,nego_settlement,failed'
 'ongoing' 'failed' 'failed,success_part' 'success_part' 'success_total'
 'success_part,success_part,failed' 'nego_settlement'
 'success_part,success_part,success_total' 'failed,failed,failed'
 'nego_settlement,nego_settlement,success_total'
 'success_total,success_part' 'success_total,success_total,success_total'
 'nego_settlement,nego_settlement' 'ongoing,ongoing,ongoing'
 'success_part,success_part' 'failed,nego_settlement'
 'success_part,success_total' 'success_total,success_total'
 'success_part,nego_settlement' 'success_total,failed'
 'failed,success_total' 'nego_settlement,failed'
 'failed,success_total,failed' 'success_part,success_total,failed'
 'nego_settlement,success_total' 'success_part,success_part,success_part'
 'ongoing,ongoing,ongoing,ongoing' 'success_total,nego_settlement,failed'
 'success_part,failed']

In [8]:
#Remove any sanctions which are ongoing as the purpose of the study is to determine whether sanctions had been succesful, 
#therefore they need to have been concluded. WHAT IF A SANCTION IS ONGOING EVEN THOUGH IT WAS SUCCESSFUL? WHAT IF A SANCTION
#IS DEEMED TO HAVE FAILED BUT IN REALITY IT DID NOT?
gsdb = gsdb[gsdb["success"].str.contains("ongoing") == False]

In [9]:
gsdb = gsdb[gsdb["success"].str.contains("nego_settlement") == False]

In [10]:
print(gsdb["success"].unique())

['failed,failed' 'failed' 'failed,success_part' 'success_part'
 'success_total' 'success_part,success_part,failed'
 'success_part,success_part,success_total' 'failed,failed,failed'
 'success_total,success_part' 'success_total,success_total,success_total'
 'success_part,success_part' 'success_part,success_total'
 'success_total,success_total' 'success_total,failed'
 'failed,success_total' 'failed,success_total,failed'
 'success_part,success_total,failed'
 'success_part,success_part,success_part' 'success_part,failed']

In [11]:
print(gsdb.head(5))

   case_id sanctioned_state  \
1        2      Afghanistan
3        4      Afghanistan
5        6      Afghanistan
6        7      Afghanistan
7        8      Afghanistan

                                   sanctioning_state  begin   end  trade  \
1  EU, Cyprus, Malta, Turkey, Croatia, Macedonia,...   1996  2001      0
3  EU, Turkey, Croatia, Macedonia, Montenegro, Ic...   1999  2001      0
5                                                 UN   1996  2000      0
6                                                 UN   1999  2002      0
7                                                 UN   2000  2002      1

  descr_trade  arms  military  financial  travel  other  \
1         NaN     1         1          0       0      0
3         NaN     0         0          1       0      1
5         NaN     1         0          0       0      0
6         NaN     0         0          1       0      1
7    exp_part     1         1          1       1      1

                objective        success
1       terrorism,end_war  failed,failed
3       terrorism,end_war  failed,failed
5       terrorism,end_war  failed,failed
6  terrorism,human_rights  failed,failed
7               terrorism         failed

In [12]:
gsdb.describe()

,case_id,begin,end,trade,arms,military,financial,travel,other
count,792.000000,792.000000,792.000000,792.000000,792.000000,792.000000,792.000000,792.000000,792.000000
mean,530.857323,1989.828283,1995.232323,0.371212,0.205808,0.194444,0.457071,0.164141,0.183081
std,310.620632,16.774501,15.972767,0.483434,0.404546,0.396023,0.498468,0.370638,0.386977
min,2.000000,1949.000000,1952.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,266.750000,1978.000000,1986.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,515.000000,1992.000000,1997.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,785.500000,2003.000000,2008.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000
max,1098.000000,2018.000000,2019.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [13]:
print(gsdb["objective"].unique())

['terrorism,end_war' 'terrorism,human_rights' 'terrorism' 'human_rights'
 'policy_change' 'democracy' 'human_rights,democracy,terrorism'
 'policy_change,destab_regime' 'end_war' 'destab_regime'
 'human_rights,democracy,end_war' 'other'
 'territorial_conflict,end_war,human_rights' 'territorial_conflict'
 'human_rights,democracy' 'democracy,human_rights' 'prevent_war'
 'end_war,democracy,human_rights' 'destab_regime,end_war'
 'end_war,destab_regime' 'human_rights,prevent_war' 'human_rights,other'
 'prevent_war,policy_change' 'democracy,destab_regime'
 'destab_regime,democracy' 'end_war,democracy' 'end_war,human_rights'
 'policy_change,end_war' 'end_war,policy_change'
 'human_rights,destab_regime' 'other,policy_change'
 'territorial_conflict,policy_change' 'terrorism,prevent_war,human_rights'
 'prevent_war,human_rights' 'prevent_war,terrorism'
 'terrorism,end_war,prevent_war' 'destab_regime,terrorism,prevent_war'
 'territorial_conflict,end_war' 'destab_regime,democracy,human_rights'
 'policy_change,human_rights,prevent_war' 'prevent_war,democracy'
 'terrorism,destab_regime' 'territorial_conflict,democracy,human_rights'
 'policy_change,other' 'territorial_conflict,democracy'
 'terrorism,policy_change' 'policy_change,democracy,human_rights'
 'end_war,prevent_war' 'democracy,human_rights,end_war'
 'policy_change,prevent_war' 'other,human_rights' 'other,terrorism'
 'human_rights,end_war' 'democracy,other'
 'territorial_conflict,human_rights' 'democracy,human_rights,other'
 'human_rights,policy_change' 'end_war,human_rights,terrorism']

In [14]:
gsdb = gsdb[gsdb['objective'].str.contains('human_rights')]

In [15]:
print(gsdb["objective"].unique())

['terrorism,human_rights' 'human_rights'
 'human_rights,democracy,terrorism' 'human_rights,democracy,end_war'
 'territorial_conflict,end_war,human_rights' 'human_rights,democracy'
 'democracy,human_rights' 'end_war,democracy,human_rights'
 'human_rights,prevent_war' 'human_rights,other' 'end_war,human_rights'
 'human_rights,destab_regime' 'terrorism,prevent_war,human_rights'
 'prevent_war,human_rights' 'destab_regime,democracy,human_rights'
 'policy_change,human_rights,prevent_war'
 'territorial_conflict,democracy,human_rights'
 'policy_change,democracy,human_rights' 'democracy,human_rights,end_war'
 'other,human_rights' 'human_rights,end_war'
 'territorial_conflict,human_rights' 'democracy,human_rights,other'
 'human_rights,policy_change' 'end_war,human_rights,terrorism']

In [16]:
gsdb.describe()

,case_id,begin,end,trade,arms,military,financial,travel,other
count,211.000000,211.000000,211.000000,211.000000,211.000000,211.000000,211.000000,211.000000,211.000000
mean,540.251185,1993.663507,1998.890995,0.251185,0.236967,0.232227,0.592417,0.194313,0.142180
std,333.128416,14.044675,13.922317,0.434726,0.426233,0.423258,0.492553,0.396612,0.350065
min,7.000000,1954.000000,1954.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,200.500000,1982.000000,1990.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,595.000000,1994.000000,2000.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,798.500000,2006.000000,2012.000000,0.500000,0.000000,0.000000,1.000000,0.000000,0.000000
max,1098.000000,2018.000000,2018.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [17]:
#This brings the number of cases down to 211 which are sanctions which are imposed at least partially due to human rights 
#violations.

In [18]:
#Calculate the number of different types of sanctions imposed.
cols=["trade", "arms", "military", "financial", "travel", "other"]
types_sanctions=gsdb[cols].sum(axis=0)
types_sanctions

trade         53
arms          50
military      49
financial    125
travel        41
other         30
dtype: int64

In [19]:
#bar chart displaying the spread of types of sanctions

In [20]:
print(colored(255, 0, 0, "AN OVERVIEW OF THE HUMAN RIGHTS DATASET"))

AN OVERVIEW OF THE HUMAN RIGHTS DATASET

In [21]:
print(hum_rights.head(5))

          CTRY  YEAR  CIRI    COW  POLITY  UNCTRY  UNREG  UNSUBREG  PHYSINT  \
0  Afghanistan  1981   101  700.0   700.0     4.0    142        62      0.0
1  Afghanistan  1982   101  700.0   700.0     4.0    142        62      0.0
2  Afghanistan  1983   101  700.0   700.0     4.0    142        62      0.0
3  Afghanistan  1984   101  700.0   700.0     4.0    142        62      0.0
4  Afghanistan  1985   101  700.0   700.0     4.0    142        62      0.0

   DISAP  ...  OLD_MOVE  SPEECH  ELECSD  OLD_RELFRE  NEW_RELFRE  WORKER  \
0    0.0  ...       0.0     0.0     0.0         0.0         1.0     0.0
1    0.0  ...       0.0     0.0     0.0         1.0         1.0     0.0
2    0.0  ...       0.0     0.0     0.0         0.0         0.0     0.0
3    0.0  ...       0.0     0.0     1.0         0.0         0.0     0.0
4    0.0  ...       0.0     0.0     0.0         0.0         0.0     0.0

   WECON  WOPOL  WOSOC  INJUD
0    0.0    0.0    0.0    0.0
1    0.0    1.0    0.0    0.0
2    0.0    1.0    0.0    0.0
3    0.0    1.0    0.0    0.0
4    0.0    1.0    0.0    0.0

[5 rows x 28 columns]

In [22]:
hum_rights.describe()

,YEAR,CIRI,COW,POLITY,UNCTRY,UNREG,UNSUBREG,PHYSINT,DISAP,KILL,...,OLD_MOVE,SPEECH,ELECSD,OLD_RELFRE,NEW_RELFRE,WORKER,WECON,WOPOL,WOSOC,INJUD
count,6262.000000,6262.000000,6169.000000,6231.000000,6138.000000,6262.000000,6262.000000,4915.000000,5045.000000,5043.000000,...,4082.000000,5043.000000,5043.000000,4074.000000,5640.000000,5043.000000,5042.000000,5042.000000,3882.000000,5689.000000
mean,1996.000000,402.470297,470.002269,468.297545,441.343434,141.351485,58.277228,4.911699,-2.542517,-3.276621,...,-0.924057,-0.430299,-0.301804,-1.234413,-0.460993,-0.701170,-13.789964,-3.421063,-36.305255,-14.047284
std,8.944986,174.898203,261.143888,259.919924,259.329244,138.432781,54.944610,2.337415,53.576885,57.117319,...,10.927872,10.253919,10.279558,19.116074,25.004052,17.397793,116.517100,62.106724,185.886488,117.311057
min,1981.000000,101.000000,2.000000,2.000000,4.000000,2.000000,5.000000,0.000000,-999.000000,-999.000000,...,-77.000000,-77.000000,-77.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000
25%,1988.000000,251.000000,305.000000,310.000000,212.000000,2.000000,14.000000,3.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000
50%,1996.000000,402.500000,451.000000,450.000000,436.000000,142.000000,35.000000,5.000000,2.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000
75%,2004.000000,554.000000,680.000000,679.000000,674.000000,150.000000,62.000000,7.000000,2.000000,2.000000,...,1.000000,2.000000,2.000000,1.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000
max,2011.000000,700.000000,990.000000,990.000000,894.000000,419.000000,155.000000,8.000000,2.000000,2.000000,...,1.000000,2.000000,2.000000,1.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000

In [23]:
#Will have to remove rows with negative values as they are nonsensicle.

In [24]:
print(colored(255, 0, 0, "AN OVERVIEW OF THE PHYSICAL QUALITY OF LIFE INDEX"))

AN OVERVIEW OF THE PHYSICAL QUALITY OF LIFE INDEX

In [25]:
print(QOLI.head(5))

               Country      1980      1981      1982      1983      1984  \
0              Albania  83.93420  84.17603  84.41786  84.65969  84.90152
1              Algeria  48.96476  50.42718  51.94303  53.51025  55.06421
2               Angola  30.94247  31.55309  32.07764  32.64210  33.22413
3  Antigua and Barbuda  85.28795  85.50091  85.71387  85.92682  86.13978
4            Argentina  80.55376  81.10604  81.64148  82.11781  82.48384

       1985      1986      1987      1988  ...      2001      2002      2003  \
0  85.14335  85.32748  85.46565  85.49081  ...  87.61612  87.93954  88.18301
1  56.60917  58.18262  59.63763  60.87551  ...  72.33870  73.23522  73.81944
2  33.79222  34.26994  34.81147  35.33628  ...  44.53423  45.47089  46.30037
3  86.35274  86.56570  86.77866  86.99161  ...  89.60519  89.78610  89.95368
4  82.82237  83.15372  83.48605  83.79855  ...  87.50620  87.75502  88.00128

       2004      2005      2006      2007      2008      2009      2010
0  88.40755  88.59953  88.69958  88.80173  88.89204  88.93795  89.01052
1  74.45359  74.97727  75.55163  76.07652  76.62262  77.11248  77.70901
2  47.14606  47.92479  48.65670  49.33317  49.94497  50.61736  51.27642
3  90.12125  90.27550  90.41640  90.57064  90.71155  90.83913  90.98003
4  88.23127  88.45731  88.69197  88.90895  89.12152  89.32965  89.52444

[5 rows x 32 columns]

In [26]:
QOLI.describe()

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
count,139.000000,138.000000,138.000000,139.000000,138.000000,138.000000,138.000000,138.000000,138.000000,139.000000,...,139.000000,139.000000,139.000000,140.000000,140.000000,139.000000,140.000000,140.000000,139.000000,139.000000
mean,58.959293,59.623177,60.392657,61.306670,61.842045,62.541190,63.235362,63.858835,64.443726,64.532635,...,70.644790,71.168388,71.684092,72.377898,72.717529,73.338630,73.947415,74.496834,74.980061,75.510341
std,20.943316,20.735633,20.517222,20.328576,20.090287,19.906290,19.773190,19.618471,19.477631,20.051138,...,17.721695,17.483673,17.231918,16.993373,16.711862,16.456216,16.141588,15.884368,15.682948,15.464519
min,5.068131,7.092829,9.117527,11.142220,12.727250,14.037910,15.322240,16.633560,16.904310,0.199735,...,25.642500,27.148710,28.542590,30.013960,31.385910,32.781910,34.100790,35.246760,36.390580,37.547740
25%,42.714110,43.707757,44.448863,45.383245,46.038310,47.196503,47.549957,47.817450,48.285187,48.236770,...,56.150725,56.445740,57.223115,58.430855,59.587620,60.649380,61.613458,62.121480,62.830845,63.898275
50%,60.355360,61.263860,62.504815,63.936790,65.307775,66.334950,67.557680,68.791800,69.583405,69.898470,...,77.768750,78.270550,78.581880,79.275000,79.714120,80.357980,80.907090,81.403290,81.890630,82.399090
75%,77.264765,77.782120,78.144717,78.681755,78.999692,79.475880,79.828108,80.347260,80.753940,81.211940,...,85.030395,85.363750,85.577195,86.046167,86.141522,86.483450,86.878047,87.056827,87.305740,87.508420
max,87.590300,88.030450,88.492650,88.491100,89.144090,89.327550,89.646550,90.035310,90.245350,90.610150,...,93.611300,93.750550,93.749880,94.345870,94.264180,94.681860,94.812560,94.905200,94.960240,95.015280